<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans.xsd  
		    http://www.springframework.org/schema/context   
		    http://www.springframework.org/schema/context/spring-context.xsd  
		    http://www.springframework.org/schema/aop  
		    http://www.springframework.org/schema/aop/spring-aop.xsd  
		    http://www.springframework.org/schema/tx  
		    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<context:component-scan base-package="com.nj" />

	<bean id="propertiesCfg"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath*:**/*.properties</value>
			</list>
		</property>
	</bean>

	<!-- 如果它未找到${xxx}中定义的xxx键，它还会去JVM系统属性（System.getProperty()）和环境变量（System.getenv()）中寻找 
		此配置的简版<context:property-placeholder location="classpath:classpath*:**/*.properties"/> -->
	<bean id="propertyConfigurer" class="com.nj.service.util.PropertiesReader">
		<property name="properties" ref="propertiesCfg" />
		<!-- <property name="locations"> <list> <value>classpath*:**/*.properties</value> 
			</list> </property> -->
	</bean>

	<!-- 声明通知类 -->
	<bean id="exceptionAdvisor" class="com.nj.service.basis.ExceptionAdvisor" />

	<aop:config>
		<aop:pointcut id="point_cut" expression="execution(* com.nj.service.wx.*.*(..))" />
		<aop:advisor advice-ref="exceptionAdvisor" pointcut-ref="point_cut" order="100" />
	</aop:config>
	
</beans>